@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}
.content{
  width: 100%;
  height: 100%;
}
.botonExcel{
  cursor:pointer;
}
.convert-excel{
  margin-top: 77px;
  background: #333;
  color: #FFF;
  padding: 50px;
  width: 100%;
}
.convert-excel > #frmSave{
  display: flex;
  margin-left: -15px;
  text-align: center;
}
.convert-excel > #frmSave > .icon{
  width: 33.3333333%;
  padding-top: 10px;
}
.convert-excel > #frmSave > .icon > span{
  
  cursor: pointer;
}
.convert-excel > #frmSave > .icon > span > img{
  width: 10%;
}
.message{
	width: 100%;
	height: auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkslateblue;
    color: snow;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;

}
.header.shrink {
    height: 50px;
    line-height:80px;
}
.header h1
{
    font-size:2.5rem;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 2.5;
}

.header.shrink h1
{
    font-size:20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 2.5;
}
.head-title{
	width: 100%;
	height: auto;
}
.head-title > .title > h1{
	padding: 30px;
	text-align: center;
	color: #292b2c;
}
.form{
	width: 100%;
	height: auto;
	margin-top: 100px;
}
.form > .frmPdf{
	padding: 40px;
}
.form > .frmPdf > span{
	width: 100%;
	height: auto;
	color: #292b2c;
	font-size: 20px;
}
.form > .frmPdf > input{
	width: 100%;
	height: auto;
	color: #292b2c;
	font-size: 20px;
}
.frmPdf > .frm-buttons{
	text-align: center;
	padding-top: 20px;
}
.frm-buttons > a{
	color: #FFF !important;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


h2 {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.file-drop-area {
  border: 1px dashed rgba(67, 35, 158, 0.9);
  border-radius: 3px;
  position: relative;
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 20px 30px;
  transition: 0.2s;
  text-align: center;
}
.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }

.fake-btn {
  background-color: rgba(67, 35, 158, 0.9);
  border: 1px solid rgba(67, 35, 158, 0.9);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
    outline: none;
  }



.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 3px solid #ececec;
  vertical-align: middle;
  background-color: #FFF !important;
}
.table__head {
  display: table-header-group;
  vertical-align: inherit;
  background-color: darkslateblue;
  color: #fff;
}
.table__body {
  display: table-row-group;
  vertical-align: inherit;
}
.table__row {
  display: table-row;
  vertical-align: inherit;
}
.table__body .table__row:nth-child(even) {
  background-color: #ececec;
}
.table__cell {
  display: table-cell;
  border: 1px solid #fff;
  padding: 20px;
  width: calc(100% / 3);
  vertical-align: inherit;
}
.table__foot {
  display: table-footer-group;
  vertical-align: inherit;
}
.table__caption {
  display: table-caption;
  padding: 20px;
  border: 1px solid #fff;
  caption-side: bottom;
}
@media screen and (max-width: 767px) {
  .table__head .table__cell:not(:first-child) {
    display: none;
  }
  .table__body, .table__row, .table__cell {
    display: block;
    border: none;
  }
  .table__row {
    padding: 10px 0;
  }
  .table__cell {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .table__cell:not(:first-child):before {
    content: attr(data-title);
    display: block;
    width: 50%;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    text-transform: uppercase;
  }
  .table__body .table__cell:first-child {
    color: #16a085;
    border-width: 1px 0;
    font-weight: bold;
  }
}